# Dependencies
node_modules
package-lock.json

# Build outputs
dist
build
.svelte-kit

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode

# Temporary files
*.tmp
*.temp

# Coverage
coverage

# Legacy
legacy/
